{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block headcontent %}
    <link rel="stylesheet" href="{% static '/css/farm/perfil.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-5">

        <h2>Explora cuidados creados por otros</h2>

        <div class="row mt-2" id="cultivos-container">
            {% if not coleccion %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-muted">
                                No hay cultivos registrados
                            </h5>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for coleccion_cultivo in coleccion %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5><a href="{% url 'detalles-cultivo' coleccion_cultivo.id %}" class="card-title">
                                   {{ coleccion_cultivo.cultivo.nombre_cultivo }}
                                </a></h5>
                                <p>
                                    <strong>Tipo:</strong> {{ coleccion_cultivo.cultivo.tipo_alimento }}
                                </p>
                                <p>
                                    <strong>Propagación:</strong> {{ coleccion_cultivo.cultivo.tipo_propagacion }}
                                </p>
                            </div>
                            <div style="background: rgb(92, 172, 137)" class="card-body">
                                <p>
                                    <strong>Autor:</strong> {{ coleccion_cultivo.usuario.username }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

